.nav{
    height: 35px;
    line-height: 35px;
    background-color: #c20c0c;
    box-sizing: border-box;
    border-bottom: 1px solid #a40011;
}

.navbar{
    box-sizing: border-box;
    padding-left: 180px;
}

.navbar .list{
    display: flex;
}

.navbar .list .item span{
    display: inline-block;
    padding: 0 13px;
    margin: 7px 17px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    border-radius: 20px;
}

.navbar .list .item span:hover{
    background-color: #9b0909;
}

.navbar .list .item .active{
    background-color: #9b0909;
}