.top{
    width: 100%;
    height: 70px;
    background-color: #242424;
    box-sizing: border-box;
    border-bottom: 1px #000 solid;
}

.topbar{
    display: flex;
    justify-content: space-between;
    height: 70px;
    line-height: 70px;
}

.topbar .bar-left{
    display: flex;
}

.topbar .bar-left .logo{
    background-image: url(../../img/topbar.png);
}

.topbar .bar-left .logo a{
    display: block;
    width: 157px;
    padding-right: 20px;
    text-indent: -9999px;
}

.topbar .bar-left .list{
    position: relative;
    display: flex;
}
.topbar .bar-left .list .item{
    display: block;
    padding: 0 20px;
    font-size: 14px;
    color: #ccc;
}

.topbar .bar-left .list .item:hover{
    background-color: #000000;
    color: #fff;
}

.topbar .bar-left .list .active{
    position: relative;
    background-color: #000000;
    color: #fff;
}

.topbar .bar-left .list .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-bottom: 8px solid #c20c0c;

    /*width: 12px;*/
    /*height: 7px;*/
    /*background: url("../../img/topbar.png") -226px 0;*/
}

.topbar .bar-left .list .topbar_icon_hot {
    position: absolute;
    top: 10px;
    right: -15px;
}

.topbar .bar-right{
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.topbar .bar-right .login a{
    color: #787878;
}

.topbar .bar-right .login:hover a{
    color: #ccc;
}

.topbar .bar-right .login a:hover{
    color: #787878;
    text-decoration: underline;
}

.topbar .bar-right .author a{
    display: inline-block;
    width: 90px;
    height: 32px;
    margin: 0 20px;
    line-height: 32px;
    text-align: center;
    color: #ccc;
    box-sizing: border-box;
    border: 1px solid #4f4f4f;
    border-radius: 20px ;
}

.topbar .bar-right .author a:hover{
    color: #fff;
    border-color: #fff;
}

.topbar .bar-right .search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 158px;
    height: 32px;
    box-sizing: border-box;
    padding-right: 10px;
    line-height: 32px;
    border-radius: 30px;
    background: #fff url("../../img/topbar.png") 0 -99px;
}

.topbar .bar-right .search input{
    width: 115px;
    font-size: 12px;
}

/*.topbar .bar-right .search input::-webkit-input-placeholder{*/
/*    color: #a00;*/
/*}*/

